*{
    margin: 0px;
    padding: 0px;
}

#container{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    width: 50%;
    height: 30px;
    margin-top: 40px;
}

#heading{
    font-size: 30px;
}

#text{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#btn{
    height: 33px;
    margin: 10px;
    margin-top: 40px;
    width: 100px;
    background-color: rgb(134, 35, 255);
    border: none;
    color: white;
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    width: 60%;
    height: 30px;
    border: 1px solid gray;
    list-style: none;
    margin-top: 30px;
}
