*{
    margin: 0px;
    padding: 0px;
}

#container{
    height: 14vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

input{
    width: 50vw;
    height: 5vh;
    margin-top: 40px;
    padding: 2px;
}

#heading{
    font-size: 6vh;
}

#text{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#btn{
    height: 6.5vh;
    margin: 10px;
    margin-top: 40px;
    width: 100px;
    background-color: rgb(134, 35, 255);
    border: none;
    color: white;
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    position: relative;
    width: 60vw;
    height: 5vh;
    border: 1px solid gray;
    list-style: none;
    margin-top: 30px;
    padding: 2px;
    overflow: hidden;
}

ul li span {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
}

.cross:hover{
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
}
